@model CoverType

@{
    ViewData["Title"] = "Create";
}


<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden/>
    <div class="container pb-3">
        <div class="border pb-3 mt-4">
            <h2 class="text-primary"> Delete CoverType</h2>
            <hr />
           @* <div asp-validation-summary="All"></div>*@
            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name"disabled class="form-control" />
            </div>
           
            <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
            <a asp-controller="CoverType" asp-action="Index" class="btn btn-secondary">Back To CoverType</a>
        </div>
    </div>

</form>


@*Syntax for adding client side validations using _validation scripts partial view*@

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
